# Assignment: Data Wrangling
### `! git clone https://github.com/ds3001f25/wrangling_assignment.git`
### Do Q1 and Q2
### Reading material: `tidy_data.pdf`

**Q1.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the Minnesota police use of for data, `./data/mn_police_use_of_force.csv`, clean the `subject_injury` variable, handling the NA's; this gives a value `Yes` when a person was injured by police, and `No` when no injury occurred. What proportion of the values are missing? Is this a concern? Cross-tabulate your cleaned `subject_injury` variable with the `force_type` variable. Are there any patterns regarding when the data are missing?
3. Dummy variable: For the pretrial data covered in the lecture `./data/justice_data.parquet`, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [11]:
import pandas as pd
import numpy as np
import re

## Question Q1.1

url_airbnb = "https://raw.githubusercontent.com/KendallFreese/wrangling_assignment/main/data/airbnb_hw.csv"
air = pd.read_csv(url_airbnb)

# Keep original for comparison
air["_Price_raw"] = air["Price"].astype(str)

# Clean Price: remove $, commas → numeric (with coercion)
air["Price_clean"] = pd.to_numeric(
    air["_Price_raw"].str.replace(r"[$,]", "", regex=True),
    errors="coerce"
)

nan_examples = air.loc[air["Price_clean"].isna(), ["_Price_raw", "Price_clean"]].head(10)
print("Examples that became NaN (bad formatting or non-numeric):")
print(nan_examples, "\n")

# --- Show values that had commas removed ---
comma_examples = air.loc[air["_Price_raw"].str.contains(","), ["_Price_raw", "Price_clean"]].head(10)
print("Examples with commas cleaned out:")
print(comma_examples, "\n")

# --- Summary ---
print("Summary of cleaned Price column:")
print(air["Price_clean"].describe(), "\n")
print("Total missing after cleaning:", air["Price_clean"].isna().sum())


# The Price column contained dollar signs and commas (e.g., "$1,112"), which prevented pandas from reading it as numeric.
# I removed these formatting characters and used pd.to_numeric(..., errors="coerce") so valid values converted to floats
# (e.g., "1,990" → 1990.0) while any problematic entries would safely become NaN. This ensures the variable can be used
# for calculations and analysis.


## Question Q1.2

Q1.1 — Price cleaning
     _Price_raw  Price_clean
101       1,990         1990
263       1,000         1000
764       1,200         1200
1272      1,000         1000
1275      5,000         5000
1476      3,000         3000
1846      1,500         1500
1973      1,200         1200

Total rows: 30,478
Missing after cleaning (Price_clean is NaN): 0
  _Price_raw  Price_clean
0        145        145.0
1         37         37.0
2         28         28.0
3        199        199.0
4        549        549.0
5        149        149.0
6        250        250.0
7         90         90.0
0
Unique values before cleaning:
['145' '37' '28' '199' '549' '149' '250' '90' '270' '290']

Summary after cleaning:
count    30478.000000
mean       163.589737
std        197.785454
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price_clean, dtype: float64

Missing values after cleaning: 0

**Q2.** Go to https://sharkattackfile.net/ and download their dataset on shark attacks (Hint: `GSAF5.xls`).

1. Open the shark attack file using Pandas. It is probably not a csv file, so `read_csv` won't work.
2. Drop any columns that do not contain data.
3. Clean the year variable. Describe the range of values you see. Filter the rows to focus on attacks since 1940. Are attacks increasing, decreasing, or remaining constant over time?
4. Clean the Age variable and make a histogram of the ages of the victims.
5. What proportion of victims are male?
6. Clean the `Type` variable so it only takes three values: Provoked and Unprovoked and Unknown. What proportion of attacks are unprovoked?
7. Clean the `Fatal Y/N` variable so it only takes three values: Y, N, and Unknown.
8. Are sharks more likely to launch unprovoked attacks on men or women? Is the attack more or less likely to be fatal when the attack is provoked or unprovoked? Is it more or less likely to be fatal when the victim is male or female? How do you feel about sharks?
9. What proportion of attacks appear to be by white sharks? (Hint: `str.split()` makes a vector of text values into a list of lists, split by spaces.)

In [18]:
import pandas as pd
import numpy as np
import re

url_airbnb = "https://raw.githubusercontent.com/KendallFreese/wrangling_assignment/main/data/airbnb_hw.csv"
air = pd.read_csv(url_airbnb)

# Keep original for comparison
air["_Price_raw"] = air["Price"].astype(str)

# Clean Price: remove $, commas → numeric (with coercion)
air["Price_clean"] = pd.to_numeric(
    air["_Price_raw"].str.replace(r"[$,]", "", regex=True),
    errors="coerce"
)

nan_examples = air.loc[air["Price_clean"].isna(), ["_Price_raw", "Price_clean"]].head(10)
print("Examples that became NaN (bad formatting or non-numeric):")
print(nan_examples, "\n")

# --- Show values that had commas removed ---
comma_examples = air.loc[air["_Price_raw"].str.contains(","), ["_Price_raw", "Price_clean"]].head(10)
print("Examples with commas cleaned out:")
print(comma_examples, "\n")

# --- Summary ---
print("Summary of cleaned Price column:")
print(air["Price_clean"].describe(), "\n")
print("Total missing after cleaning:", air["Price_clean"].isna().sum())


# The Price column contained dollar signs and commas (e.g., "$1,112"), which prevented pandas from reading it as numeric.
# I removed these formatting characters and used pd.to_numeric(..., errors="coerce") so valid values converted to floats
# (e.g., "1,990" → 1990.0) while any problematic entries would safely become NaN. This ensures the variable can be used
# for calculations and analysis.

Examples that became NaN (bad formatting or non-numeric):
Empty DataFrame
Columns: [_Price_raw, Price_clean]
Index: []

Examples with commas cleaned out:
     _Price_raw  Price_clean
101       1,990         1990
263       1,000         1000
764       1,200         1200
1272      1,000         1000
1275      5,000         5000
1476      3,000         3000
1846      1,500         1500
1973      1,200         1200
1977      1,800         1800
2095      1,300         1300

Summary of cleaned Price column:
count    30478.000000
mean       163.589737
std        197.785454
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price_clean, dtype: float64

Total missing after cleaning: 0